*{
    margin: 0;padding: 0;list-style: none;
}
body{
    font-family: 'Khula', sans-serif;
    font-size: 15px;
    color: #999;
}
a:hover{
    text-decoration: none;
}
h1,h2,h3,h4,h5,h6{
    color: #373737;
    font-weight: 400;
}
.header_area{
    padding: 20px 0;
}
.mainmenu ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.mainmenu li{
    display: inline-block;
    position: relative;
}
.mainmenu li a{
    display: block;
    color: #888;
    padding: 12px 15px;
}
.mainmenu li a:hover{
    color: #ef476f;
}
input[type="submit"],button[type="submit"] {
    display: inline-block;
    color: #fff;
    font-size: 14px;
    background-color: #ef476f;
    padding: 11px 25px;
    border-radius: 2px;
    border: none;
    font-weight: 400;
}
.boxed-btn{
    display: inline-block;
    color: #fff;
    font-size: 14px;
    background-color: #ef476f;
    padding: 13px 25px;
    border-radius: 2px;
    border: none;
}
.hero_area{
    font-weight: 300;
    padding: 150px 0;
    border-bottom: 1px solid #efefef; 
}
.hero_area h1{
    font-size: 40px;
    max-width: 440px;
    margin-bottom: 20px;
    padding-top: 25px;
}
input [type="text"],input [type=email],input[type=password],input[type=url],textarea{
    border: 1px solid #efefef;
    padding: 10px 15px;
}
.website-checker-form{
    margin-top: 30px;
}
.section_padding{
    padding: 115px 0;
}
.section_title{
    margin-bottom: 90px;
}
.single-service-box{
    border: 1px solid #fafafa;
    padding: 25px;
    font-weight: 300;
    line-height: 1.6;
    margin-bottom: 50px;
}
.single-service-box:hover{
    border-color: #f26c8c;
}
.single-service-box:hover a.service-readmore-btn{
    color: #f26c8c;
}
.single-service-box:hover .service_icon{
    color: #f26c8c;
}
.single-service-box:hover h3{
    color: #f26c8c;
}
.single-service-box h3{
    font-size: 20px;
    margin: 15px 0;
}
.service_icon{
    font-size: 30px;
    color: #231f20;
}
.service-readmore-btn{
    color: #231f20;
    font-weight: 400;
    display: inline-block;
    margin-top: 10px;
}
.service-readmore-btn a.zmdi{
    padding-left: 5px;
}
.pdt-50{
    padding-top: 50px;
}
h2{
    font-size: 28px;
    line-height: 38px;
}
.pdt-50 .boxed-btn{
    margin-top: 20px;
}